sources.txt
prompts.txt
.github_token
todo
LLM prompts utils.txt
src/test_ambient/docker/commands.txt
src/test_ambient
src/tempFileGestor.py
src/.env
src/adjustments_and_fixes/.env
src/logs
src/metrics/patterns/report/diffs
src/node_modules
node_modules
src/clusters/debug_cluster.json
src/dataset/dataset_backup.json
.vscode
src/__pycache__
src/prompts/differenze_tra_versioni.png
src/gemini_api_key_extractor.py
src/claude_api_key_extractor.py
src/old_run_files
src/old
src/extractors
src/metrics/validation_reports
CLAUDE.md
src/metrics/execution_stats
src/metrics/exec_metrics_analysis.log
src/metrics/*.md
src/metrics/*.json
src/metrics/compare_base_vs_llm_execution.
src/metrics/debug_improvements.py
src/metrics/diagnose_base_code_execution.py
src/metrics/identify_failing_c_clusters.py
src/backup_executions
src/debug
md
src/debug_tools
src/tests